<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/header.ejs')%>
    <div>
      <% if (user) {%>
      <div class="welcome-container">
        <h4>WELCOME BACK <%= user.username %></h1>
      </div>
      <% } else { %>
      <div class="welcome-container">
        <h4>Welcome to ClubLand</h4>
        <p>Sign up to contribute to the community today!</p>
      </div>
      <%}%> <% if(messages.length >0 ) { %> <% messages.forEach((post) => { %>
      <div class="posts-container">
        <% if (user === undefined) {%>
        <div class="post">
          <div><h5><%=post.title%></h5></div>
          <div><%=post.message%></div>
        </div>
        <%} else if (user.isAdmin && !user.isMember) {%>
        <div class="post">
          <div><h5><%=post.title%></h5></div>
          <div><%=post.message%></div>
          <div>
            <button class="delete-button" data-doc="<%=post._id%>">
              Delete
            </button>
          </div>
        </div>
        <%} else if (!user.isAdmin && user.isMember) {%>
        <div class="post">
          <div><h5><%=post.title%></h5></div>
          <div><%=post.message%></div>
          <div>By: <%=post.username%></div>
          <div>Date: <%=post.createdAt%></div>
        </div>
        <%} else if (user.isAdmin && user.isMember) {%>
        <div class="post">
          <div><h5><%=post.title%></h5></div>
          <div><%=post.message%></div>
          <div>By: <%=post.username%></div>
          <div>Date: <%=post.createdAt%></div>
          <div>
            <button class="delete-button" data-doc="<%=post._id%>">
              Delete
            </button>
          </div>
        </div>
      </div>
      <%}})} else {%>
      <p>No messages found</p>
      <%}%>
    </div>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
