<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/header.ejs')%>
    <div>
      <% if (user) {%>
      <h1>WELCOME BACK <%= user.username %></h1>
      <p>Insert permissions based on user's creds here</p>
      <% } else { %>
      <h4>Welcome to Club Land</h4>
      <h5>The exclusive members only club</h5>
      <p>Join us today to contribute to our community!</p>
      <p>Insert rules here</p>
      <%}%> <% if(messages.length >0 ) { %> <% messages.forEach((post) => { %>
      <% if (user === undefined) {%>
      <div>Post: <%=post.message%></div>
      <%} else if (user.isAdmin && !user.isMember) {%>
      <div>Post: <%=post.message%></div>
      <div>Delete: insert delete button/link</div>
      <%} else if (!user.isAdmin && user.isMember) {%>
      <div>Post: <%=post.message%></div>
      <div>By: <%=post.username%></div>
      <div>Date: <%=post.createdAt%></div>
      <%} else if (user.isAdmin && user.isMember) {%>
      <div>Post: <%=post.message%></div>
      <div>By: <%=post.username%></div>
      <div>Date: <%=post.createdAt%></div>
      <div>Delete: insert delete button/link</div>
      <%}})} else {%>
      <p>No messages found</p>
      <%}%>
    </div>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
